/* Define mixins and media quarries */

@mixin respond-to-mobile {
    @media (max-width: $breakpoint-mobile) {
      @content;
    }
  }
  
  @mixin respond-to-tablet {
    @media (max-width: $breakpoint-tablet) {
      @content;
    }
  }
  
  @mixin respond-to-desktop {
    @media (max-width: $breakpoint-desktop) {
      @content;
    }
  }
  
  @mixin respond-to-xl {
    @media (max-width: $breakpoint-xl) {
      @content;
    }
  }
  
  @mixin respond-to-xxl {
    @media (max-width: $breakpoint-xxl) {
      @content;
    }
  }
  
  @mixin respond-to-xxxl {
    @media (min-width: $breakpoint-xxl) {
      @content;
    }
  }
  
  // Media queries
  @media (prefers-color-scheme: light) {
    :root {
      background-color: #fff;
      color: #213547;
    }
  
    a:hover {
      color: #747bff;
    }
  
    button {
      background-color: #f9f9f9;
    }
  }
  